body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
}

.job-listings {
	flex: 1;
	padding: 2em;
	max-width: 100%;
	background-color: #f7f7f7;
}

.job-card {
	position: relative;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 1em 0;
	padding: 1em;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: white;

}

.job-card.selected {
	border-color: green;
}

.company-icon {
	width: 40px;
	height: 40px;
	margin-right: 1em;
}

.technology {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	background-color: lightgreen;
	padding: 0.25em 0.5em;
	border-radius: 3px;
	font-size: 12px;
	color: darkgreen;
}

.job-company {
	font-size: 12px;
	color: #777;
	margin-bottom: 0.25em;
	display: flex;
	align-items: center;
}

.job-details {
	font-size: 14px;
	color: #03AC13;
	margin-bottom: 0.25em;
}

.job-salary {
	font-size: 14px;
	color: #555;
}

.star-rating {
	font-size: 14px;
	color: #555;
	margin-left: 10px;

}

.star {
	color: black;
	margin-right: 3px;
}

.divider {
	width: 100%;
	border-top: 1px solid #ddd;
	margin: 0.5em 0;
}

.skills {
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
}

.skill {
	background-color: lightgreen;
	color: darkgreen;
	padding: 0.25em 0.5em;
	border-radius: 3px;
	font-size: 12px;
	margin: 2px;
}

.selected-job {
	display: none;
}

.card-text {
	text-align: left;
	margin-top: 0.5em;
}

.skills {
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
	display: flex;
	flex-wrap: wrap;
}

.company-icon {
	width: 40px;
	margin-right: 1em;
	display: flex;
	align-items: center;
}

.card-content {
	display: flex;
	align-items: flex-start;
}

.divider {
	display: block;
	position: relative;
	width: 100%;
	border-top: 1px solid #ddd;
	margin: 0.5em 0 0;
}




@media (min-width: 768px) {
	.job-listings {
		max-width: 40%;
	}

	.selected-job {
		flex: 1;
		padding: 2em;
		background-color: #f7f7f7;
		border-left: 1px solid #ddd;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}